.battambang-regular {
  font-family: "Battambang", system-ui;
  font-weight: 400;
  font-style: normal;
}
 #titulo_blog{
      font-family: "Battambang", system-ui;
  font-weight: 500;
  font-style: normal;
  color: rgb(61, 60, 60);
  text-align: center;
 }
 body{
    background-color: rgb(216, 216, 216);
 }
 p{
        font-family: "Battambang", system-ui;
        font-weight: 300;
        font-style: normal;
        color: rgb(32, 32, 32);
 }
 h2{
    font-family: "Battambang", system-ui;
    font-weight: 350;
    font-style: normal;
    color: rgb(134, 73, 4);
    text-align: center;
 }
 footer{
    background-color: rgb(235, 137, 25);
    height: 100px;
    text-align: center;
    padding: 00px;
    margin: 0;
 }
 #footer-message{
     font-family: "Battambang", system-ui;
    font-weight: 500;
    font-style: normal;
    color: rgb(218, 216, 216);
    padding: 10px;
 }
 #profile_pic{
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 1px rgb(243, 153, 36);
 }
 ol{
     font-family: "Battambang", system-ui;
    font-weight: 500;
    font-style: oblique;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
 }
 ul{
      font-family: "Battambang", system-ui;
    font-weight: 500;
    font-style: oblique;
 }
 p{
   text-align: center;
 }